*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #091928;
    height: 100vh;
}
header{
    background-image: url(https://t4.ftcdn.net/jpg/05/88/24/01/360_F_588240153_fJGL9Oj0QU9uxlGK9QSDzgfwZ31SaZ0r.jpg);
    background-position: center;
    background-size: cover;
    height: 500px;
}
.nav{
    display: flex;
    padding: 20px;
    font-family: sans-serif;
}
.nav h1{
    color: aliceblue;
    margin-left: 50px;
    font-size: 35px;
}
.nav a{
    margin-left: 30px;
    margin-top: 10px;
    color: aliceblue;
    font-size: 17px;
    text-decoration: none;
    font-weight: bold;
}
.nav a:hover{
    color: #ff7300;

}
.nav button:hover{
    background-color: #00b3ff;
}
.nav button{
    padding: 0px 20px;
    margin-left: 30px;
    border-radius: 20px;
    background-color: orange;
    color: aliceblue;
    font-weight: bold;
}
.cont{
    text-align: center;
    margin-top: 60px;
    color: aliceblue;
    font-family: serif;
}
.cont h1{
    font-size: 35px;
}
.cont input{
    margin-top: 26px;
    padding: 13px 30px;
    border-radius: 20px;
    border: 2px solid white;
    font-weight: bold;
    background: transparent;
    color: azure;
}
.cont input:hover{
    background-color: orange;
}
.h1 h1{
    margin: 20px;
    color: #ff7300;
}
.main a{
    color: aliceblue;
    font-weight: bold;
    font-size: 18px;
    margin-left: 140px;
    text-decoration: none;
    font-family: serif;
}
.main a:hover{
    text-decoration: underline #e3dbd5 2px;
    color: orange;
}
#salad img{
width: 150px;
border-radius: 50%;
height: 110px;
margin-left: 80px;
margin-top: 60px;
}
#salad{
    display: flex;
    margin-left: 0px;
    text-align: center;
}
#salad h2{
color: #ff7300;
margin-left: 100px;
font-size: 18px;
margin-top: 5px;
}
.h2 h1{
    text-align: center;
    color: orange;
    margin-top: 60px;
}
#soup img{
width: 150px;
border-radius: 50%;
height: 110px;
margin-left: 80px;
margin-top: 60px;
}
#soup{
    display: flex;
    margin-left: 0px;
    text-align: center;
}
#soup h2{
color: #ffa200;
margin-left: 100px;
font-size: 18px;
margin-top: 5px;
}
.h3 h1{
    text-align: center;
    color: orange;
    margin-top: 60px;
}
#veg img{
width: 150px;
border-radius: 50%;
height: 110px;
margin-left: 80px;
margin-top: 60px;
}
#veg{
    display: flex;
    margin-left: 0px;
    text-align: center;
}
#veg h2{
color: #ffdd00;
margin-left: 80px;
font-size: 18px;
margin-top: 5px;
}
.h4 h1{
    text-align: center;
    color: orange;
    margin-top: 60px;
}
#veg1 img{
width: 150px;
border-radius: 50%;
height: 110px;
margin-left: 80px;
margin-top: 60px;
}
#veg1{
    display: flex;
    margin-left: 0px;
    text-align: center;
}
#veg1 h2{
color: #ff4d00;
margin-left: 80px;
font-size: 18px;
margin-top: 5px;
}
.h5 h1{
    text-align: center;
    color: orange;
    margin-top: 60px;
}
.contact{
    margin: 70px;
    margin-left: 450px;
}
.us{
    background-color: #ffa200;
    width: 350px;
    height: 300px;
    text-align: center;
    margin-top: 9px;
    border-radius: 30px;
    box-shadow: 5px 5px 10px white;
    /* transform: rotate(10deg); */
}
.us input{
    padding: 8px;
    width: 200px;
    margin-top: 20px;
    border-radius: 20px 30px 10px 30px;
    border: 2px solid red;
    background: transparent;
}
.us input:hover{
    background-color: #e3dbd5;
    
}
.us input::placeholder{
    color: #091928;
}
.foot{
    background-color: black;
    height: 400px;
}
.foot h1{
    color: aliceblue;
    padding: 20px;
}
.foot1{
    display: flex;
}
.foot2{ 
    margin-top: 30px;
    margin-left: 210px;
}
.foot2 a{
    color: rgb(145, 150, 154);
    text-decoration: none;
    list-style-type: none;
    margin: 8px;
    font-family: sans-serif;
}
.foot2 a:hover{
    color: aliceblue;
}
.foot4{
    font-size: 20px;
    color: aliceblue;
    font-weight: bold;
}
.p p{
    color: aliceblue;
    text-align: center;
    margin-top: 40px;
}